<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.userPictureAlbumMapper">
  <resultMap id="BaseResultMap" type="pojo.userPictureAlbum">
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="picture_id" jdbcType="INTEGER" property="pictureId" />
    <result column="album_id" jdbcType="INTEGER" property="albumId" />
  </resultMap>
  <insert id="insert" parameterType="pojo.userPictureAlbum">
    insert into user_picture_album (user_id, picture_id, album_id
      )
    values (#{userId,jdbcType=INTEGER}, #{pictureId,jdbcType=INTEGER}, #{albumId,jdbcType=INTEGER}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, picture_id, album_id
    from user_picture_album
  </select>
</mapper>